<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>processing.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>processing.LoginUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StickyCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.StickyCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>160</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>75</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>processing.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoresServlet</servlet-name>
        <servlet-class>processing.ScoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineUsers</servlet-name>
        <servlet-class>processing.OnlineUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>processing.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <servlet-class>processing.UploadAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembersServlet</servlet-name>
        <servlet-class>processing.MembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestBattle</servlet-name>
        <servlet-class>processing.RequestBattle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBattleRequestsServlet</servlet-name>
        <servlet-class>processing.GetBattleRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBattleRequestServlet</servlet-name>
        <servlet-class>processing.CancelBattleRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BattleServlet</servlet-name>
        <servlet-class>processing.BattleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BattleLoadCheckServlet</servlet-name>
        <servlet-class>processing.BattleLoadCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameControllerServlet</servlet-name>
        <servlet-class>processing.GameControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessGameDisplayServlet</servlet-name>
        <servlet-class>processing.ProcessGameDisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StickyCaptcha</servlet-name>
        <url-pattern>/StickyImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoresServlet</servlet-name>
        <url-pattern>/scores.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineUsers</servlet-name>
        <url-pattern>/OnlineUsers.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUser.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <url-pattern>/UploadAvatar.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembersServlet</servlet-name>
        <url-pattern>/members.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestBattle</servlet-name>
        <url-pattern>/RequestBattle.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBattleRequestsServlet</servlet-name>
        <url-pattern>/GetBattleRequests.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBattleRequestServlet</servlet-name>
        <url-pattern>/cancel_request.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BattleServlet</servlet-name>
        <url-pattern>/battle.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BattleLoadCheckServlet</servlet-name>
        <url-pattern>/BattleLoadCheck.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameControllerServlet</servlet-name>
        <url-pattern>/game.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessGameDisplayServlet</servlet-name>
        <url-pattern>/process_game.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
 </web-app>
